@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&display=swap');


/* VARIABLES */
:root {
    --color-base: #719c3d;
    --color-base-hover: #66883e;
    --color-text: #333;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-botones: #e7e7e7;
    --color-gris: #e0e0e0;
    --color-gris-oscuro: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.swiper-slide {
    cursor: pointer;
}






#swiperBanner {
    width: 100%;
    height: 60vh;
    position: relative;
}

#swiperBanner .swiper {
    width: 100%;
    height: 100%;
}

#swiperBanner .swiper-slide {
    font-size: 18px;
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}


#swiperBanner h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    color: var(--color-base) !important;
    font-size: 4rem !important;
    text-shadow: -1px -1px 0 var(--color-blanco), 1px -1px 0 var(--color-blanco), -1px 1px 0 var(--color-blanco), 1px 1px 0 var(--color-blanco);
}


#swiperBanner p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

/* #swiperBanner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid red;
    max-width: 500px;
} */
































/* CARTAS DE CATEGORIAS */
#botones .swiper-slide {
    text-align: center;
    width: max-content !important;
    height: max-content !important;
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Slider de botones de categorías */
#swiper-botones a {
    display: block;
    width: max-content;
    height: max-content;
    background: none;
    padding: .6rem 1rem;
    font-size: .8rem !important;
    border: none;
    border-radius: 8px;
    background: var(--color-botones);
    color: var(--color-negro);
}






















/* Slider de tarjetas de productos TODOS */

/* Contenedor del slider */
#swiper-productos {
    padding-left: 1rem;
    width: 100%;
}

#swiper-productos .swiper-slide {
    width: 100%;
    height: max-content;
    padding: .5rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    position: relative;
    border: none;
    height: 100%;
}

#swiper-productos .card-title,
h5 {
    margin-bottom: 0.5rem;
    font-size: .97rem;
}

/* Precio */
#swiper-productos .price {
    font-weight: bold;
    font-size: .97rem;
}

#swiper-productos .card-title,
h5 {
    color: var(--color-negro);
    text-decoration: none;
    font-weight: 300;
}

/* Botón agregar al carrito */
#swiper-productos .btn-add-to-cart {
    background: var(--color-base) !important;
    color: var(--color-blanco);
    padding: 0.4rem .8rem;
    font-size: 0.9rem !important;
    border-radius: 0.5rem;
    text-decoration: none;
}

#swiper-productos .btn-add-to-cart:hover {
    color: var(--color-blanco);
}

#swiper-productos .ojo {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-base);
    color: var(--color-blanco);
    padding: 0.2rem;
    border-radius: .4rem;
    text-decoration: none;
    padding: .4rem .6rem;
}

/* Imagen */
#swiper-productos .card-img-left {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}











/* BANNER PRODUCTOS */
#bannerProductos a {
    background: var(--color-base);
    color: var(--color-blanco);
    margin-bottom: 1rem;
    margin-left: 1rem;
}





/* QUEDÉ AQUÍ...... */

#bannerProductos h5 {
    color: var(--color-base);
}

/* QUEDÉ AQUÍ...... */









#come {
    display: flex;
    flex-direction: column;
}





#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}



#swiper-opiniones {
    padding: 2rem;
    overflow: hidden;
    /* Evita bugs visuales */
}

#swiper-opiniones .swiper-slide {
    width: auto;
    /* Permite que Swiper maneje el tamaño */
    min-width: 260px;
    /* Ajusta según necesidad */
    max-width: 300px;
    /* Evita que se estire demasiado */
}

#swiper-opiniones .comentario {
    position: relative;
    background: var(--color-gris);
    border-radius: 1rem;
}

/* Triángulo que apunta al usuario */
#swiper-opiniones .comentario::after {
    content: "";
    position: absolute;
    bottom: -10px;
    /* Posiciona el triángulo debajo del comentario */
    left: 25px;
    /* Ajusta la posición horizontal */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--color-base);
    /* Color del triángulo debe coincidir con el fondo */
}

#swiper-opiniones .nombre {
    font-weight: 400 !important;
    margin: 0;
    padding-bottom: .4rem;
}

#swiper-opiniones i {
    color: var(--color-base);
    margin-right: .1rem;
    font-size: .9rem;
}


/* Loader animado */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid var(--color-base);
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.aaaa {
    color: var(--color-negro);
    text-decoration: none;
}

.categoria-imagen {
    background-image: radial-gradient(circle, #81df99, #74ce8b, #68bc7d, #5bac70, #4f9b63);
    padding: .4rem;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-bottom: .7rem;
    padding-top: .3rem;
    padding-bottom: 0;
    border-radius: 1rem;
}

.categoria-imagen img {
    width: 100%;
    transform: scale(2);
    object-fit: cover;
}

#swiper-categorias .swiper {
    width: 100%;
    height: 100%;
}

#swiper-categorias .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiper-categorias h5 {
    font-weight: 200;
}

#bannerVideo {
    padding: 0 !important;
}

#bannerVideo .row {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 450px !important;
}

#bannerVideo video {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    object-fit: cover;
    /* Ajusta el video sin deformarlo */
}

.infoVideo {
    width: 40%;
    z-index: 1;
    padding: 1rem;
    padding-left: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media screen and (max-width: 768px) {
    .infoVideo {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}

#bannerVideo h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    color: var(--color-base) !important;
    font-size: 3rem !important;
    text-shadow: -1px -1px 0 var(--color-blanco), 1px -1px 0 var(--color-blanco), -1px 1px 0 var(--color-blanco), 1px 1px 0 var(--color-blanco);
}


#bannerVideo p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}



.page-item.active .page-link {
    background-color: var(--color-base) !important;
    /* Verde */
    border-color: var(--color-base) !important;
    /* Borde verde */
    color: var(--color-blanco) !important;
    /* Texto blanco */
}