/* VARIABLES */
:root {
    --color-base: #719c3d;
    --color-base-hover: #66883e;
    --color-text: #333;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-botones: #e7e7e7;
    --color-gris: #e0e0e0;
    --color-gris-oscuro: #666;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: var(--color-gris);
}

.auth-container {
    width: 100%;
    max-width: 400px;
}

.auth-card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: var(--color-blanco);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

/* Estilos para las pestañas */
.tabs {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.tab-button {
    flex: 1;
    padding: 0.75rem;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-gris-oscuro);
    transition: all 0.3s ease;
}

.tab-button.active {
    color: var(--color-base);
    border-bottom: 2px solid var(--color-base);
}

/* Contenedor deslizante de formularios */
.form-wrapper {
    display: flex;
    width: 200%; /* Doble del tamaño para acomodar ambos formularios */
    transition: transform 0.5s ease-in-out;
}

/* Cada formulario ocupa la mitad del ancho del wrapper */
.auth-form {
    width: 50%;
    padding: .5rem 2rem;
}

/* Estilos para los campos de entrada */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gris);
    border-radius: 8px;
    padding: 0.5rem;
    transition: border-color 0.3s ease;
}

.input-field i {
    margin-right: 0.5rem;
    color: #666;
}

.input-field input {
    border: none;
    outline: none;
    flex: 1;
}

.input-field:focus-within {
    border-color: var(--color-base);
}

/* Botón personalizado */
.btn-custom {
    background: var(--color-base);
    color: var(--color-blanco);
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-custom {
    margin-top: 2rem;
}
.btn-custom:hover {
    background: var(--color-base-hover);
}

/* Enlace de recuperación de contraseña */
.text-center {
    text-align: center;
}

.text-decoration-none {
    text-decoration: none;
    color: var(--color-base);
}

.text-decoration-none:hover {
    text-decoration: underline;
}
