body {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loader animado */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #25b09b;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    transition: all 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arriba {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #495057;
}

/* Contenido principal */
.content {
    flex-grow: 1;
    margin-left: 250px;
    transition: all 0.3s;
    width: 100%;
    padding: 20px;
}

/* Navbar */
.navbar {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.navbar .btn-toggle {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Ocultar Sidebar */
.sidebar.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.content.full-width {
    margin-left: 0;
}


.cont-pro {
    max-height: 55vh;
    /* Ajusta la altura según lo necesites */
    overflow-y: auto;
    /* Permite el scroll vertical */
    overflow-x: auto;
    /* Permite el scroll horizontal si es necesario */
}


.sticky-header th {
    position: sticky;
    top: 0;
    background: #343a40;
    /* Asegura que el fondo de la cabecera se mantenga */
    color: white;
    z-index: 100;
}

.table tbody tr td:nth-child(3) {
    /* Tercera columna (Descripción) */
    max-width: 200px;
    /* Ajusta según lo necesites */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Añade los "..." si el texto es muy largo */
    white-space: nowrap;
    /* Evita que el texto se desborde en varias líneas */
}


.cont {
    border: 2px solid rgba(122, 122, 122, 0.418);
    border-radius: 10px;
    overflow: hidden;
}

.ic {
    background: #25b09b;
    padding: .5rem 2rem;
}



.cont input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    padding-left: 2rem;
    /* Opcional, para hacer el fondo transparente */
}

.cont input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.search-results {
    background: #25b09b;
    border-top: none;
    max-height: 250px;
    /* Evita que sea muy largo */
    overflow-y: auto;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    display: none;
    /* Oculto por defecto */
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.producto-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.producto-item:hover {
    background-color: #f8f9fa;
}


@media screen and (max-width: 768px) {
    .cont-pro {
        max-height: 68vh;
    }
}