/* VARIABLES */
:root {
    --color-base: #719c3d;
    --color-base-hover: #66883e;
    --color-text: #333;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-botones: #e7e7e7;
    --color-gris: #e0e0e0;
    --color-gris-hover: #d4d4d4;
    --color-gris-oscuro: #666;
    --color-dashboard: #343a40;
    --color-dashboard-hover: #495057;
}



body {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

/* Loader animado */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid var(--color-base);
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: var(--color-dashboard);
    color: var(--color-blanco);
    transition: all 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arriba {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.sidebar a {
    display: block;
    color: var(--color-blanco);
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.sidebar a:hover {
    background: var(--color-dashboard-hover);
}

/* Contenido principal */
.content {
    flex-grow: 1;
    margin-left: 250px;
    transition: all 0.3s;
    width: 100%;
    padding: 0 20px;
    height: 100vh;
    overflow-y: auto;
}

/* Navbar */
.navbar {
    width: 100%;
    background: var(--color-blanco);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 600;
}



.navbar .btn-toggle {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Ocultar Sidebar */
.sidebar.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.content.full-width {
    margin-left: 0;
}



.sticky-header th {
    position: sticky;
    top: 0;
    background: var(--color-dashboard);
    /* Asegura que el fondo de la cabecera se mantenga */
    color: var(--color-blanco);
    z-index: 100;
}

.table tbody tr td:nth-child(2) {
    /* Tercera columna (Nombre) */
    max-width: 100px;
    /* Ajusta según lo necesites */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Añade los "..." si el texto es muy largo */
    white-space: nowrap;
    /* Evita que el texto se desborde en varias líneas */
}

.table tbody tr td:nth-child(3) {
    /* Tercera columna (Descripción) */
    max-width: 100px;
    /* Ajusta según lo necesites */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Añade los "..." si el texto es muy largo */
    white-space: nowrap;
    /* Evita que el texto se desborde en varias líneas */
}


.cont {
    border: 2px solid rgba(122, 122, 122, 0.418);
    border-radius: 10px;
    overflow: hidden;
}

.ic {
    padding: .5rem 2rem;
    color: var(--color-blanco);
}



.cont input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    padding-left: 2rem;
    /* Opcional, para hacer el fondo transparente */
}

.cont input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.search-results {
    border-top: none;
    max-height: 250px;
    /* Evita que sea muy largo */
    overflow-y: auto;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    display: none;
    /* Oculto por defecto */
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.producto-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-gris-hover);
}

.producto-item:hover {
    background-color: var(--color-gris-hover);
}


.page-item.active .page-link {
    background-color: var(--color-base) !important;
    /* Verde */
    border-color: var(--color-base) !important;
    /* Borde verde */
    color: var(--color-blanco) !important;
    /* Texto blanco */
}


@media screen and (max-width: 768px) {
    .cont-pro {
        max-height: 68vh;
    }
}